a {
	color: white;
}

.text {
	font-family: fantasy;
	font-size: 16px;
	color: white;
	background-color: #222;
	padding: 5px;
	border-radius: 5px;
}

body {
	background-color: #333;
	font-family: fantasy;
	font-size: 16px;
}

.horisontallist {
	list-style: none;
	display: inline-block;
}

.horisontallist > li {
	float: left;
}

.object {
	display: inline-block;
	margin-right: 1em;
	margin-top: 1em;
	padding-right: 1em;
	border-radius: 5px;
	position: relative;
}

#nav a {
	text-decoration: none;
}

#nav li h3 {
	color: #666;
}
#nav li.active h3, #nav li:hover h3 {
	color: #fff;
}

.retro, #nav h3 {
	text-decoration: none;
	background-color: #000;
	font-family: 'Press Start 2P', cursive;
	color: #fff;
	font-size: 11px;
	text-shadow: 2px 2px #000;
}

.object:hover {
	background-color: #111;
}

.object > .name {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.object > img {
	height: 55px;
	width: 55px;
	padding: 3px;
}

.object > img.phases {
	width: 125px;
	padding: 3px;
}

/* modularise floats */
.group:after, .horisontallist:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#nav ul {
	background-color: black;
	border-radius: 5px;
	-webkit-margin-before: 0;
	-webkit-padding-start: 0;
	display: inline-block;
}

#nav li {
	float: left;
	list-style-type: none;
	padding: 5px;
}

#nav li h3 {
	margin: 0;
	padding: 0;
	text-align: center;
}

#nav img {
	padding-left: 2em;
	opacity: 0.6;
}

#nav li.active img, #nav li:hover img {
	opacity: 1;
}

#nav li {
	background-image: url("https://raw.github.com/wesnoth/wesnoth-old/master/data/core/images/items/brazier.png");
	background-repeat: no-repeat;
	background-position: -7px 20px;
}

#nav li.active {
	background-image: url("https://raw.github.com/wesnoth/wesnoth-old/master/data/core/images/items/brazier-lit1.png");
}

ul.actionlist {
	list-style-type: none;
	display: inline-block;
	-webkit-padding-start: 0;
}
div.insteadofpic {
	display: inline-block;
	height: 55px;
	width: 1px;
	padding:3px;
}
.time {
	display: inline-block;
	margin-top: -5px;
}

.actionlist li {
	height: 80px;
	overflow: hidden;
	margin: 5px;
	padding-left: 10px;
	background-color: #222;
	border-radius: 5px;
	float: left;
	clear: left;
}

.fixcoin {
	position: absolute;
	right: 3px;
	top: 3px;
	color: gold;
	font-size: 0.8em;
}

.bonuscoin {
	position: absolute;
	top: 3px;
	right: 25px;
	font-size: 0.8em;
	color: blueviolet;
}

.timebox, .timebox:hover {
	background-color: inherit;
}

.vague {
	color: #666;
}

dt {
	float: left;
	clear: left;
	text-align: right;
	font-style: italic;
	width: 110px;
}

dt:after {
	content: ":";
}

dd {
	float: left;
	-webkit-margin-start: 0;
	margin-left: 1em;
}

#content h3 {
	margin-left: 3em;
}

.centerbox {
	text-align: center;
	padding-right: 0%;
}
.actionimg {
	display: block;
	margin: 0 auto;
	margin-top: 2em;
}