ul.group
	li.active.home(data-name='home')
		a(href='#/')
			img(src='https://raw.github.com/wesnoth/wesnoth-old/master/data/core/images/terrain/castle/dwarven-castle-tile.png')
			h3 Home
	li.throneroom(data-name='throneroom')
		a(href='#throneroom')
			img(src='https://raw.github.com/wesnoth/wesnoth-old/master/data/core/images/terrain/castle/dwarven-keep.png')
			h3 Throne<br/>room
	li.barracks(data-name='barracks')
		a(href='#barracks')
			img(src='https://raw.github.com/wesnoth/wesnoth-old/master/data/core/images/scenery/tent-fancy-red.png')
			h3 Barracks
	li.armoury(data-name='armoury')
		a(href='#armoury')
			img(src='https://raw.github.com/wesnoth/wesnoth-old/master/data/core/images/scenery/tent-shop-weapons.png')
			h3 Armoury
	li.library(data-name='library')
		a(href='#library')
			img(src='https://raw.github.com/wesnoth/wesnoth-old/master/data/core/images/items/book5.png')
			h3 Library
	li.training(data-name='training')
		a(href='#training')
			img(src='https://raw.github.com/wesnoth/wesnoth-old/master/data/core/images/items/dummy.png')
			h3 Training<br/>ground

