//- This template is given an object definition, with `icon`, `link` and `text` data.

a.object.group(href='LALALLA#{link}')
	img(
		src='#{iconsrc}'
	)
	span.name !{text.replace(/ /g,"<br />")+"<br /><br />"}