//- This template is given an object definition, with `icon`, `link` and `text` data.

a.object.group.retro(href='#{link}')
	img(
		src='http://units.wesnoth.org/1.10/pics/core$images$units$#{icon}.png'
	)
	span.name !{(text||"moo").replace(/ /g,"<br />")+"<br /><br />"}